
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <style>
        #quote {
            font-size: 1.2em;
            font-style: normal ;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    
    <div id="quote">

        <header>
            <h1>Thought of the Day</h1>
        </header>
    
    <p>{{ quote.quote }} <br> - <em>{{ quote.author }}</em></p>
    </div>
</body>
</html>
